<mat-toolbar>Add a book</mat-toolbar>

<div class="add-book-form">
    <a [routerLink] = "['/books']"></a>
    <form (submit) = "submitAdd()" #myForm = 'ngForm'>
        <mat-form-field class="full-width">
            <input matInput = 'text' placeholder="Book Title" [(ngModel)]="title" name="title" required>
        </mat-form-field><br>
        <mat-form-field class="full-width">
            <input matInput placeholder="Book Author" [(ngModel)]="author" name="author" required>
        </mat-form-field><br>
        <mat-form-field class="full-width">
            <input matInput placeholder="Book Price" [(ngModel)]="price" name="price" required>
        </mat-form-field><br>

        <mat-form-field class="full-width">
                <input matInput [matDatepicker]="dateadded" placeholder="Date Added">
                <mat-datepicker-toggle matSuffix [for] = "dateadded"></mat-datepicker-toggle>
                <mat-datepicker #dateadded (selectedChanged)="updateDateAdded($event)"></mat-datepicker>
        </mat-form-field><br>
        <mat-form-field class="full-width">
            <input matInput [matDatepicker]="dateread" placeholder="Date Read ">
            <mat-datepicker-toggle matSuffix [for] = "dateread"></mat-datepicker-toggle>
            <mat-datepicker #dateread (selectedChanged)="updateDateRead($event)"></mat-datepicker>
        </mat-form-field><br>
            
        <div *ngIf="isRead"> 
            <mat-form-field class="full-width">
                <textarea matInput rows="5" placeholder="Book Description" [(ngModel)]="description" name="description" ></textarea>
            </mat-form-field><br>

            <mat-form-field class="full-width">
                <input matInput placeholder="Book Rate (1-5)" min="1" max="5" step="0.1" type="number" [(ngModel)]="rate" name="rate">
            </mat-form-field>
        </div>
        
        <mat-form-field class="third-width">
            <input matInput placeholder="Image Url (enter image URL)" [(ngModel)]="imageUrl" name="imageUrl" required>
        </mat-form-field><br>
        <img src="{{imageUrl}}" alt="{{title}}">
        <hr>
        <button mat-raised-button value="submit" [disabled]="!myForm.form.valid"> Create Book </button>
    </form>
</div>