<mat-toolbar>
    <span>Top Rated Books</span>
</mat-toolbar>

<mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let book of favoriteBooks">
        <mat-card>
            <mat-card-header>
                <mat-card-title><h4> {{ book.data.title }} </h4></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{ book.data.imageUrl }}" alt="{{ book.details }}" style="max-width: 80%;">
            <mat-card-actions>
                <button mat-button mat-raised-button class = 'detailsButton' [routerLink]="['/book/'+ book.key]">
                    <i class="material-icons">visibility</i>Book Detail
                </button>
                <button mat-button mat-raised-button class = 'editButton' [routerLink]="['/edit-book/'+book.key]">
                    <i class="material-icons">more_edit</i>Edit Book
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<mat-toolbar>
    <span>Books I have not read yet</span>
</mat-toolbar>

<mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let book of unreadBooks">
        <mat-card>
            <mat-card-header>
                <mat-card-title><h4> {{ book.data.title }} </h4></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{ book.data.imageUrl }}" alt="{{ book.details }}" style="max-width: 80%;">
            <mat-card-actions>
                <button mat-button mat-raised-button class = 'detailsButton' [routerLink]="['/book/'+ book.key]">
                    <i class="material-icons">visibility</i>Book Detail
                </button>
                <button mat-button mat-raised-button class = 'editButton' [routerLink]="['/edit-book/'+book.key]">
                    <i class="material-icons">more_edit</i>Edit Book
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
